@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lustria&display=swap');

.header {
    font-family: "Poppins", sans-serif;
    text-align: left;
}

h6{
    font-size: 10px;
}

.fullscreen {
    height: 150vh;
    width: 100%;
    background-color: rgba(0, 100, 0, 0.403);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center; 
    justify-content: center; 
    flex-direction: column;
}

.navbar {
    font-family: 'Lustria', serif;
    font-size: large;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.navbar-brand,
.nav-link {
    color: #333 !important;
}

.navbar .nav-link:hover {
    color: #007bff !important;
}


.Heading {
    font-size: x-large;
    font-weight: 800;
}
.Title{
    font-size: large;
    font-weight: 300;
}

#important{
    color: white;
    font-weight: bolder;
    font-size: larger;
}


.section {
    height: 110vh;
    width: 100%;
    background-color: #f1ead1;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center; 
    justify-content: center; 
    flex-direction: column;
    font-family: "Poppins", sans-serif;

}
.section2 {
    height: 100vh;
    width: 100%;
    background-color: #ffffff;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center; 
    justify-content: center; 
    flex-direction: column;
    font-family: "Poppins", sans-serif;

}

.impact-section{
    height: 200vh;
    width: 100%;
    background-color: #ffffff;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center; 
    justify-content: center; 
    flex-direction: column;
    font-family: "Poppins", sans-serif;

}

.news-section{
    height: 300vh;
    width: 100%;
    background-color: #f1ead1;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center; 
    justify-content: center; 
    flex-direction: column;
    font-family: "Poppins", sans-serif;
}

.Heading-2{
    font-size: large;
    font-weight: 600;
    text-align: center;
}
.Text-2{
    font-size: medium;
    font-weight: 300;

}

#source{
    font-size: x-small;
    font-style: italic;
}

.impact-container{
    background-color: rgba(0, 100, 0, 0.403);
    border: solid 1px black;
    width: 300px;
    height: 260px;
}

.impact-element{
    width: 100%;
    height: 100%;
    max-height: 200px;
    object-fit: cover;
}

.impact-text {
    font-family: 'Lustria', serif;
    font-size:18px;
    color: white;
    text-align: center;
    width: 100%;
    height: auto;
}

/* 
Animations */

.fade-in {
    opacity: 0;
    transform: translateY(30px); 
    transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}

.fade-in-visible {
    opacity: 1;
    transform: translateY(0);
}
